<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204686556491-cb0qk44diic702tqmp37jnl653vtp85e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204686556491-cb0qk44diic702tqmp37jnl653vtp85e</string>
	<key>API_KEY</key>
	<string>AIzaSyCd-WjTsx7dwuhzfmoUcX_x1pppmUF5u9o</string>
	<key>GCM_SENDER_ID</key>
	<string>204686556491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>google.maps.trial</string>
	<key>PROJECT_ID</key>
	<string>mapstrial-b15de</string>
	<key>STORAGE_BUCKET</key>
	<string>mapstrial-b15de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204686556491:ios:bb1af8768d6f1fba</string>
	<key>DATABASE_URL</key>
	<string>https://mapstrial-b15de.firebaseio.com</string>
</dict>
</plist>