<ion-header>
  <ion-navbar>
    <ion-title>
      Notes
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <form #noteData="ngForm" id="noteData" (ngSubmit)="noteSubmit(noteData)" novalidate>
    <ion-item id="notes-select1">
      <ion-label>
        School
      </ion-label>
      <ion-select required [(ngModel)]="notesParam.school" name="school" (ngModelChange)="selectSchool()">
        <ion-option value="{{list}}" *ngFor="let list of this.schoolList">
          {{list}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="notes-select2">
      <ion-label>
        Module
      </ion-label>
      <ion-select required [(ngModel)]="notesParam.module" name="module">
        <ion-option value="{{list}}" *ngFor="let list of this.moduleList">
          {{list}}
        </ion-option>
      </ion-select>
    </ion-item>
    <button id="notes-button4" ion-button color="positive" block>
      Add to cart
    </button>
  </form>
</ion-content>