<ion-header>
  <ion-navbar>
    <ion-title>
      Notebook
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page8">
  <form #sendData="ngForm" id="sendData" (ngSubmit)="cartSubmit(sendData)" novalidate>
    <ion-item id="notebook-select5">
      <ion-label>
        Select quantity
      </ion-label>
      <ion-select required [(ngModel)]="sendParam.quantity" name="quantity">
        <ion-option value="{{list}}" *ngFor="let list of quanList">
          {{list}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="notebook-select6">
      <ion-label>
        Select colour
      </ion-label>
      <ion-select required [(ngModel)]="sendParam.color" name="color">
        <ion-option *ngFor="let list of colList" value="{{list}}">
          {{list}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="notebook-select7">
      <ion-label>
        Select size
      </ion-label>
      <ion-select required [(ngModel)]="sendParam.size" name="size">
        <ion-option *ngFor="let list of sizeList" value="{{list}}">
          {{list}}
        </ion-option>
      </ion-select>
    </ion-item>
    <button id="notebook-button5" ion-button color="positive" block>
      Add to cart
    </button>
  </form>
</ion-content>