<ion-header>
  <ion-navbar>
    <ion-title>
      Calculator
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page12">
  <form #sendData="ngForm" id="sendData" (ngSubmit)="cartSubmit(sendData)" novalidate>
    <ion-item id="calculator-select10">
      <ion-label>
        Select quantity
      </ion-label>
      <ion-select required [(ngModel)]="sendParam.quantity" name="quantity">
        <ion-option value="{{list}}" *ngFor="let list of quanList">
          {{list}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="calculator-select15">
      <ion-label>
        Select brand
      </ion-label>
      <ion-select required [(ngModel)]="sendParam.brand" name="brand">
        <ion-option *ngFor="let list of brandList" value="{{list}}">
          {{list}}
        </ion-option>
      </ion-select>
    </ion-item>
    <button id="calculator-button9" ion-button color="positive" block>
      Add to cart
    </button>
  </form>
</ion-content>